[submodule "zedboard_hdl"]
	path = zedboard_hdl
	url = https://github.com/msyksphinz/hdl.git
[submodule "zedboard_hdl_201701"]
	path = zedboard_hdl_201701
	url = https://github.com/msyksphinz/hdl.git
[submodule "u-boot-Digilent-Dev"]
	path = u-boot-Digilent-Dev
	url = https://github.com/DigilentInc/u-boot-Digilent-Dev.git
[submodule "Linux-Digilent-Dev"]
	path = Linux-Digilent-Dev
	url = https://github.com/DigilentInc/Linux-Digilent-Dev.git
[submodule "Arty-Z7"]
	path = Arty-Z7
	url = https://github.com/Digilent/Arty-Z7.git
[submodule "device-tree-xlnx"]
	path = device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx.git
[submodule "risc-v/tilelink/firrtl"]
	path = risc-v/tilelink/firrtl
	url = https://github.com/ucb-bar/firrtl.git
[submodule "risc-v/tilelink/chisel3"]
	path = risc-v/tilelink/chisel3
	url = https://github.com/ucb-bar/chisel3.git
[submodule "risc-v/tilelink/riscv-torture"]
	path = risc-v/tilelink/riscv-torture
	url = https://github.com/ucb-bar/riscv-torture.git
[submodule "risc-v/rocket-chip-test"]
	path = risc-v/rocket-chip-test
	url = https://github.com/freechipsproject/rocket-chip.git
