[submodule "zedboard_hdl"]
	path = zedboard_hdl
	url = https://github.com/msyksphinz/hdl.git
[submodule "zedboard_hdl_201701"]
	path = zedboard_hdl_201701
	url = https://github.com/msyksphinz/hdl.git
[submodule "u-boot-Digilent-Dev"]
	path = u-boot-Digilent-Dev
	url = https://github.com/DigilentInc/u-boot-Digilent-Dev.git
